

.nav{
    font-size: 2.5rem; /* Agranda la letra */
    font-weight: bold; /* Estilo de título */
    color: #f6f2f2; /* Color blanco */
    font-family: 'Arial', sans-serif; /* Familia de fuente */
}