

.nav{
    font-size: 2.5rem; /* Agranda la letra */
    font-weight: bold; /* Estilo de título */
    color: #f6f2f2; /* Color blanco */
    font-family: 'Arial', sans-serif; /* Familia de fuente */
}

/* Clase general para las cards */
.tarj {
    border: none; /* Elimina el borde por defecto */
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no sobresalga de la card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Sombra elegante */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

/* Efecto al hacer hover sobre la card */
.tarj:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4), 0 4px 6px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}

/* Clase para las imágenes en la card */
.tarj img {
    border-top-left-radius: 15px; /* Asegura que las esquinas de la imagen sean redondeadas */
    border-top-right-radius: 15px;
    height: 200px; /* Ajusta la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
}

/* Clase para el título de la card */
.tarj-title {
    font-size: 1.25rem; /* Aumenta el tamaño del texto */
    font-weight: bold; /* Hacer el texto más grueso */
    color: #333; /* Color oscuro elegante */
}

/* Clase para el texto dentro de la card */
.tarj-text {
    color: #666; /* Texto gris claro */
    margin-bottom: 0.75rem; /* Espacio inferior */
}
